{% extends 'base.html.twig' %}

{% block body %}
<div class="container" role="main">
    <h1>Liste des jeux</h1>
    <div class="row">
    <div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nom court</th>
                <th>Description</th>
                <th>Video path</th>
                <th>Nb Videos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.shortName }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.videoPath }}</td>
                <td>000..{{ "%03d" | format(game.nbVideos) }}</td>
                <td>
                      <div class="btn-group btn-group-xs" >
                            <a href="{{ path('admin_show', { 'id': game.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a href="{{ path('admin_edit', { 'id': game.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                      </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('admin_new') }}" class="btn btn-warning">Créer nouveau jeu</a>
        </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
