{% extends 'base.html.twig' %}

{% block body %}
    <h1>Games list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Shortname</th>
                <th>Description</th>
                <th>Videopath</th>
                <th>Nbvideos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': game.id }) }}">{{ game.id }}</a></td>
                <td>{{ game.name }}</td>
                <td>{{ game.shortName }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.videoPath }}</td>
                <td>{{ game.nbVideos }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_show', { 'id': game.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_edit', { 'id': game.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_new') }}">Create a new game</a>
        </li>
    </ul>
{% endblock %}
