<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}video-jeux.fr - Site de jeux vidéo fais avec des vidéos{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/jquery-ui.min.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/bootstrap.min.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/components/summernote/css/summernote.css') }}" />
        <link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/components/summernote/css/font-awesome.min.css') }}" />
        {% endblock %}
        {% block stylesheetsplus %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block jsbefore %}
        <script src="/js/lib/jquery-3.2.1.min.js"></script>
        <script src="/js/lib/three.js"></script>
        <script src="/js/lib/shaders/ConvolutionShader.js"></script>
        <script src="/js/lib/shaders/CopyShader.js"></script>
        <script src="/js/lib/postprocessing/EffectComposer.js"></script>
        <script src="/js/lib/postprocessing/RenderPass.js"></script>
        <script src="/js/lib/postprocessing/MaskPass.js"></script>
        <script src="/js/lib/postprocessing/BloomPass.js"></script>
        <script src="/js/lib/postprocessing/ShaderPass.js"></script>
        <script src="/js/lib/Detector.js"></script>
        <script src="/js/lib/TweenLite.min.js"></script>
        <script src="/js/lib/jquery-ui.min.js"></script>
        <script src="/components/summernote/summernote.min.js"></script>
        <script src="/components/summernote/summernote-fr-FR.js"></script>
        {% endblock %}
        {% block javascripts %}
        <script src="/js/lib/bootstrap.min.js"></script>
        <script src="/js/lib/mainlib.js"></script>

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block jsgame %}
        {% endblock %}
    </body>
</html>
