{% extends 'base.html.twig' %}

{% block body %}
<div class="container" role="main">
    <h1>Liste des jeux</h1>
    <div class="row">
    <div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nom court/Video path</th>
                <th>Description</th>
                <th>visible/active/mobile</th>
                <th>date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>Nom court : {{ game.shortName }}<br/>Path : {{ game.videoPath }}<br/>Format :{{ game.width }}x{{ game.height }} </td>
                <td>{% autoescape %}{{ game.description |raw }}{% endautoescape %}</td>
                <td>{{ "%01d" | format(game.visible) }}/{{ "%01d" | format(game.active) }}/{{ "%01d" | format(game.optimiseMobile) }}</td>
                <td>{{ game.date | date("d/m/Y") }}</td>
                <td>
                      <div class="btn-group btn-group-xs" >
                            <a href="{{ path('admin_show', { 'id': game.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a href="{{ path('admin_edit', { 'id': game.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{ path('game', { 'idName': game.shortName }) }}" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></a>
                      </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('admin_new') }}" class="btn btn-warning">Créer nouveau jeu</a>
        </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
