{% extends 'base.html.twig' %}


{% block title %}video-jeux.fr - {{ game.name }}{% endblock %}

{% block body %}
{% set cookieVal = app.request.cookies.get(game.name|replace({" ":''})) %}
{% set cookieVidVal = app.request.cookies.get(cookieVal) %}

{% if cookieVidVal %}
{% set pathVideoMp4 = 'bundles/videogame/video/'~game.videoPath~'/'~cookieVidVal~'.mp4' %}
{% set pathVideoWebm = 'bundles/videogame/video/'~game.videoPath~'/'~cookieVidVal~'.webm' %}
<video id="video_{{cookieVidVal}}" webkit-playsinline >
   <source src="{{ asset(pathVideoMp4) }}" type='video/mp4'>
   <source src="{{ asset(pathVideoWebm) }}" type='video/webm'>
</video>
{% else %}
{% set pathVideoMp4 = 'bundles/videogame/video/'~game.videoPath~'/'~ game_json.debugstart~'.mp4' %}
{% set pathVideoWebm = 'bundles/videogame/video/'~game.videoPath~'/'~game_json.debugstart~'.webm' %}
<video id="video_{{game_json.debugstart}}" webkit-playsinline >
   <source src="{{ asset(pathVideoMp4) }}" type='video/mp4'>
   <source src="{{ asset(pathVideoWebm) }}" type='video/webm'>
</video>
{% endif %}

<div id="retour_accueil" >
      <a href="{{ path("videogame") }}" class="btn btn-default retour_accueil_btn" style="text-decoration:none; opacity:0.6">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span></a>
</div>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8;">
  <p style="position: absolute; color: White; top: 50%; left: 45%;">
  <img src="{{ asset('bundles/videogame/images/'~game.shortName~'.gif') }}"><br/>
  &nbsp;Chargement...
  </p>
</div>

<div id="dictionnaire" style="{% if urlgame %} width:220px; height: 70%;{% else %}display:none;{% endif %}">
    <div style="position: relative;">
      <span style="margin: 0 10px; float:right; width: 80%;" class="text"></span>
    </div>
    {% if urlgame %}
    <div>
      <span style="margin: 0 10px; float:right; width: 80%;" class="text">
         {{ game_json.dictionnairetext | nl2br }}
      </span>
    </div>
    <div class="choices" style="margin: 0px 10px;">
      <select id="select2" style="color:#000; width:200px;" multiple="multiple">
        <option value=""></option>
          {% for videoWord in game_json.dictionnaire %}
            <option value="{{ videoWord.id }}">{{ videoWord.word }}</option>
          {% endfor %}
      </select>
    </div>
    <br/>
    <div class="playwords" style="  position: absolute; bottom: 15px; left:10px;">
      <a id="playSequenceBtn" class="btn btn-success" style="width: 176px" onclick="playSequenceBtn();"><strong>Lecture</strong>
          <span style="padding-left: 20px;"><span class="glyphicon glyphicon-play"></span></span>
      </a>
    </div>
    {% endif %}
</div>

   <div id="footer" >
       <div style="position: relative; left: 20%; max-width: 60%;">
         <span class="text"></span>
     </div>
   </div>

   <div id="skip" style="display:none;">
     <a href="#" class="btn btn-default skip" style="text-decoration:none;">
       Passer&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
     </a>
   </div>

{% endblock %}

{% block jsgame %}
  <script type="text/javascript">
   	{{ include('Engine/gameEngine.js.twig', { 'game': game ,'urlgame' : urlgame}) }}
   </script>
{% endblock %}

{% block fblike %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/mainGame.css') }}" />
{% endblock %}
