{% extends 'base.html.twig' %}


{% block title %}video-jeux.fr - {{ game.name }}{% endblock %}

{% block body %}

{% for numVideo in idsVideos %}
{% set pathVideoMp4 = 'bundles/videogame/video/'~game.videoPath~'/'~numVideo~'.mp4' %}
{% set pathVideoWebm = 'bundles/videogame/video/'~game.videoPath~'/'~numVideo~'.webm' %}
<video id="video_{{numVideo}}" webkit-playsinline style="display:none" >
   <source src="{{ asset(pathVideoMp4) }}" type='video/mp4'>
   <source src="{{ asset(pathVideoWebm) }}" type='video/webm'>
</video>
{% endfor %}

<div id="retour_accueil" >
      <a href="{{ path("videogame") }}" class="btn btn-default retour_accueil_btn" style="text-decoration:none; opacity:0.6">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span></a>
</div>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8;">
  <p style="position: absolute; color: White; top: 50%; left: 45%;">
  <img src="{{ asset('bundles/videogame/images/'~game.shortName~'.gif') }}"><br/>
  &nbsp;Chargement...
  </p>
</div>

<div id="dictionnaire" style="display:none">
    <div style="position: relative;">
      <span class="text"></span>
  </div>
</div>

   <div id="footer" style="display:none;">
       <div style="position: relative; left: 20%;">
         <span class="text"></span>
     </div>
   </div>

   <div id="skip" style="display:none;">
     <a href="#" class="btn btn-default skip" style="text-decoration:none;">
       Passer&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
     </a>
   </div>

{% endblock %}
{% block jsgame %}
  <script type="text/javascript">
   	{{ include('Engine/gameEngine.js.twig', { 'game': game }) }}
   </script>
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/mainGame.css') }}" />
{% endblock %}
