{% extends 'base.html.twig' %}
{% block jsbefore %}
<script src="/js/lib/jquery-3.2.1.min.js"></script>
<script src="/js/lib/isautoplay.js"></script>
{% endblock %}
{% block body %}
{% if not navigator %}
    <script  type="text/javascript">
        redirectIfAutoplaySupported();
    </script>
{% endif %}
<div class="theme-showcase mobile" role="main">
  <div class="row">
    <div class="col-xs-12 entete-mobile" style="margin-bottom:30px; background-color:#000; font-size: 20px;">
      <h1>VIDEO-JEUX</h1>
      <p><span style="font-style: italic;"><strong>Une expérience vidéo ludique</span></strong></p>
      {% if navigator %}
          <p>Veuillez utiliser Chrome pour une expérience complète</p>
          <p><a href="market://details?id=com.android.chrome"><img src="{{ asset('chrome_icon.png') }}" style="width: 64px;" aria-hidden="true" alt="Couverture" itemprop="image"></a></p>
      {% endif %}
    </div>
  </div>
{% for game in games %}
{% if game.visible and game.active %}
<div class="row" style="margin-bottom:5px; border:2px solid black;">
    <div class="gamelink">
    {% if not navigator %}
        <a href="{{ path('mobile_game', { idName : game.shortName }) }}" class="play-button">
            <div class="col-xs-8 padding-0">
                <img src="{{ asset('bundles/videogame/images/'~game.shortName~'_lien.png') }}" class="img-responsive" style="width:100%;" >
            </div>
            <div class="col-xs-4 padding-0" style="background-color:000;" >
              <div class="col-xs-12">
                  <div class="hide-on-landscape">
                      {% autoescape %}
                        <h4 style="font-size: 11px; color: white !important;"><strong>{{ game.name|raw }}</strong></h4>
                      {% endautoescape %}
                        <span class="btn btn-default btn-xs no-cookie" data-name="{{ game.name }}" data-shortname="{{ game.shortname }}"><span>Jouer&nbsp;<span class="glyphicon glyphicon-play text-success"></span></span></span>
                        <div class="btn-group pull-down cookie" style="display:none;">
                          <span class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="Cliquez ici pour réinitialiser le jeu" onClick="eraseAllCookies('{{ game.name }}'); return false;"  ><span class="glyphicon glyphicon-repeat"></span></span>
                          <span data-href="{{ path('mobile_game', { idName : game.shortName }) }}" data-name="{{ game.name }}" data-shortname="{{ game.shortname }}" style=" width:60px; white-space: inherit ! important;" class="btn btn-default btn-xs" >Suite <span class="pull-right" ><span class="glyphicon glyphicon-play text-success"></span></span></span>
                         </div>
                     </div>
                     <div class="hide-on-portrait">
                     {% autoescape %}
                        <div style="font-size: 14px; color: white !important;">{{ game.mobileDescription|raw }}</div>
                     {% endautoescape %}
                          <span class="btn btn-default btn-xs no-cookie" data-name="{{ game.name }}" data-shortname="{{ game.shortname }}"><span>Jouer&nbsp;<span class="glyphicon glyphicon-play text-success"></span></span></span>
                          <div class="btn-group pull-down cookie" style="display:none;">
                            <span class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="Cliquez ici pour réinitialiser le jeu" onClick="eraseAllCookies('{{ game.name }}'); return false;"  ><span class="glyphicon glyphicon-repeat"></span></span>
                            <span data-href="{{ path('mobile_game', { idName : game.shortName }) }}" data-name="{{ game.name }}" data-shortname="{{ game.shortname }}" style=" width:160px; white-space: inherit ! important;" class="btn btn-default btn-xs" >Continuer <span class="pull-right" ><span class="glyphicon glyphicon-play text-success"></span></span></span>
                           </div>
                      </div>
              </div>
            </div>
        </a>
    {% else %}
        <div class="col-xs-8 padding-0">
            <img src="{{ asset('bundles/videogame/images/'~game.shortName~'_lien.png') }}" class="img-responsive" style="width:100%;" >
        </div>
        <div class="col-xs-4 padding-0" style="background-color:000;" >
          <div class="col-xs-12">
              <div class="hide-on-landscape">
                {% autoescape %}
                  <h4 style="font-size: 11px; color: white !important;"><strong>{{ game.name|raw }}</strong></h4>
                {% endautoescape %}
              </div>
              <div class="hide-on-portrait">
                {% autoescape %}
                  <div style="font-size: 14px; color: white !important;">{{ game.mobileDescription|raw }}</div>
                {% endautoescape %}
              </div>
          </div>
        </div>
    {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
<script src="/js/index.js"></script>
{% endblock %}


{% block stylesheetsplus %}
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/index.css') }}" />
{% endblock %}
