{% extends 'base.html.twig' %}

{% block body %}
<div class="theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12 visible-md visible-lg entete" style="margin-top:100px; margin-bottom:30px; background-color:#000;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>VIDEO-JEUX</h1>
            <p><strong>www.video-jeux.fr</stong> est un site vidéo ludique.</p>
              <p>Etant encore expérimental l'ensemble des jeux est prévu pour être jouer sur un ordinateur possèdant un clavier et une souris.<br/>Blabla</p>
          </div>
        </div>
    </div>
    <div class="col-xs-12 visible-sm visible-xs entete-mobile">
      <p>www.video-jeux.fr est un site vidéo ludique créée à partir de vidéos.<br/>Les différents jeux présents ici sont optimisé pour fonctionner sur des ordinateurs de bureau ou des ordinateurs portable.<br/>Il est grandement conseiller de pratiquer ce site sur un appareil de ce type pour profiter au maximum de votre expérience.</p>
    </div>
  </div>
{% for game in games %}
{% if game.visible and game.active %}
  <div class="row visible-md visible-lg" style="margin-bottom:30px; border:5px solid black; border-radius: 5px;">
    <div class="col-xs-8 padding-0">
      <img src="{{ asset('bundles/videogame/images/'~game.shortName~'_lien.png') }}" class="img-responsive lien_image" style="width:100%;" >
      <video id="{{game.shortName}}_videolien" webkit-playsinline style="display:none; width:100%;" class="lien_video" >
        <source src="{{ asset('bundles/videogame/images/'~game.shortName~'_lien.mp4') }}" type='video/mp4'>
      </video>
    </div>
    <div class="col-xs-4 padding-0 visible-md visible-lg gamelink" style="background-color:000;">
      <a href="{{ path('game', { idName : game.shortName }) }}" data-name="{{ game.name }}" data-shortname="{{ game.shortname }}" style="width:160px; white-space: inherit ! important;" class="btn btn-default form-control play-button pull-down no-cookie" >Jouer <span class="pull-right" ><span class="glyphicon glyphicon-play text-success"></span></span>
      </a>
      <div class="btn-group play-button pull-down cookie" style="display:none;">
        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Clickez ici pour ré-initialiser le jeux" onClick="eraseAllCookies('{{ game.name }}'); return false;"  ><span class="glyphicon glyphicon-repeat"></span></a>
        <a href="{{ path('game', { idName : game.shortName }) }}" data-name="{{ game.name }}" data-shortname="{{ game.shortname }}" style=" width:160px; white-space: inherit ! important;" class="btn btn-default form-control play-button" >Continuer <span class="pull-right" ><span class="glyphicon glyphicon-play text-success"></span></span>
        </a>
      </div>

    </div>
  </div>
  <div class="visible-sm visible-xs">
    <div class="col-xs-9 padding-0">
      <img src="{{ asset('bundles/videogame/images/'~game.shortName~'_lien.png') }}" class="img-responsive" style="width:100%;" >
    </div>
    <div class="col-xs-3 padding-0" >
      <a href="{{ path('mobile_game', { idName : game.shortName }) }}">
        Jouer {{ game.name }}
      </a>
    </div>
  </div>
 {% endif %}
{% endfor %}
</div>
<script src="/js/index.js"></script>
{% endblock %}


{% block stylesheetsplus %}
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/index.css') }}" />
{% endblock %}
