{% extends 'base.html.twig' %}

{% block body %}

{% for i in 0..game.nbVideos %}
{% set numVideo =  "%03d" | format(i) %}
{% set pathVideoMp4 = 'bundles/videogame/video/'~game.videoPath~'/'~numVideo~'.mp4' %}
{% set pathVideoWebm = 'bundles/videogame/video/'~game.videoPath~'/'~numVideo~'.webm' %}
<video id="video_{{numVideo}}" >
   <source src="{{ asset(pathVideoMp4) }}" type='video/mp4'>
   <source src="{{ asset(pathVideoWebm) }}" type='video/webm'>
</video>
{% endfor %}
   <div id="footer" style="display:none;">
       <div style="position: relative; left: 30%;">
         <span class="text"></span>
     </div>
   </div>

{% endblock %}

{% block jsgame %}
  </script type="text/javascript">
   <script>
   	{{ include('Engine/mobileGameEngine.js.twig', { 'game': game }) }}
   </script>
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/mainGame.css') }}" />
{% endblock %}
