{% extends 'base.html.twig' %}

{% block jsbefore %}
  <script type="text/javascript" src="/js/lib/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery.mobile-1.4.5.min.js"></script>
{% endblock %}

{% block body %}

{% set cookieVal = app.request.cookies.get(game.name|replace({" ":''})) %}
{% set cookieVidVal = app.request.cookies.get(cookieVal) %}

{% if cookieVidVal %}
{% set pathVideoMp4 = 'bundles/videogame/video/'~game.videoPath~'/mobile/'~cookieVidVal~'.mp4' %}
{% set pathVideoWebm = 'bundles/videogame/video/'~game.videoPath~'/mobile/'~cookieVidVal~'.webm' %}
<video id="video_{{cookieVidVal}}" class="mobile" webkit-playsinline >
   <source src="{{ asset(pathVideoMp4) }}" type='video/mp4'>
   <source src="{{ asset(pathVideoWebm) }}" type='video/webm'>
</video>
{% else %}
{% set pathVideoMp4 = 'bundles/videogame/video/'~game.videoPath~'/mobile/'~ game_json.debugstart~'.mp4' %}
{% set pathVideoWebm = 'bundles/videogame/video/'~game.videoPath~'/mobile/'~game_json.debugstart~'.webm' %}
<video id="video_{{game_json.debugstart}}" class="mobile" webkit-playsinline >
   <source src="{{ asset(pathVideoMp4) }}" type='video/mp4'>
   <source src="{{ asset(pathVideoWebm) }}" type='video/webm'>
</video>
{% endif %}


<div id="retour_accueil" >
    <button id="goFSButton" class="btn btn-default" style="text-decoration:none; opacity:0.6" ><span class="goFSSpan glyphicon glyphicon-resize-full"></span><span class="goFSText">&nbsp;Plein Écran</span></button>
</div>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; z-index: 30001; opacity: 0.8;">
  <p style="position: absolute; color: White; top: 35%; left: 40%;">
  <img src="{{ asset('bundles/videogame/images/'~game.shortName~'.gif') }}"><br/>
  &nbsp;Chargement...
  </p>
</div>

<div id="dictionnaire" style="{% if urlgame %} width:220px; height: 70%;{% else %}display:none;{% endif %}">
    <div style="position: relative;">
      <span style="margin: 0 10px; float:right; width: 80%;" class="text"></span>
    </div>
    {% if urlgame %}
    <div>
      <span style="margin: 0 10px; float:right; width: 80%;" class="text">
         {{ game_json.dictionnairetext | nl2br }}
      </span>
    </div>
    <div class="choices" style="margin: 0px 10px;">
      <select id="select2" style="color:#000; width:200px;" multiple="multiple">
        <option value=""></option>
          {% for videoWord in game_json.dictionnaire %}
            <option value="{{ videoWord.id }}">{{ videoWord.word }}</option>
          {% endfor %}
      </select>
    </div>
    <br/>
    <div class="playwords" style="  position: absolute; bottom: 15px; left:10px;">
      <a id="playSequenceBtn" class="btn btn-success" style="width: 176px" onclick="playSequenceBtn();"><strong>Lecture</strong>
          <span style="padding-left: 20px;"><span class="glyphicon glyphicon-play"></span></span>
      </a>
    </div>
    {% endif %}
</div>

   <div id="footer" >
       <div style="position: relative; position: relative; left: 2%; max-width: 96%;">
         <span class="text" style="font-size : 9pt;"></span>
     </div>
   </div>


      <div id="footer-turn-mobile" style='display: none;'>
          <div style="position: relative; position: relative; left: 5%; max-width: 90%;">
            <span class="turn-mobile" ><img src='/turn-mobile.png' style='width:64px;' /></span>
        </div>
      </div>

   <div id="skip" style="display:none;">
     <span class="btn btn-default skip" style="text-decoration:none;" >
       Passer&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
   </span>
   </div>
{% endblock %}

{% block jsgame %}
  <script type="text/javascript">
   	{{ include('Engine/gameEngine.js.twig', { 'game': game ,'urlgame' : urlgame, 'mobile' : true}) }}
   </script>
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/bootstrap.min.css') }}" />
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/mainGame.css') }}" />
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/mobileMainGame.css') }}" />
{% endblock %}
