{% extends 'base.html.twig' %}

{% block jsbefore %}
  <script type="text/javascript" src="/js/lib/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery.mobile-1.4.5.min.js"></script>
  <script type="text/javascript" src="/js/lib/jgestures.min.js"></script>
{% endblock %}

{% block body %}

{% for numVideo in idsVideos %}
{% set pathVideoMp4 = 'bundles/videogame/video/'~game.videoPath~'/'~numVideo~'.mp4' %}
{% set pathVideoWebm = 'bundles/videogame/video/'~game.videoPath~'/'~numVideo~'.webm' %}
<video id="video_{{numVideo}}" webkit-playsinline {% if not loop.first %}style="display:none"{% endif %} >
   <source src="{{ asset(pathVideoMp4) }}" type='video/mp4'>
   <source src="{{ asset(pathVideoWebm) }}" type='video/webm'>
</video>
{% endfor %}

   <div id="footer" style="display:none;">
       <div style="position: relative; left: 20px;">
         <span class="text"></span>
     </div>
   </div>

{% endblock %}
{% block jsgame %}
  <script type="text/javascript">
   	{{ include('Engine/mobileGameEngine.js.twig', { 'game': game }) }}
   </script>
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/bootstrap.min.css') }}" />
<link rel="stylesheet"  type="text/css" media="all" href="{{ asset('/css/mainGame.css') }}" />
{% endblock %}
