{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sequences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Videonumber</th>
                <th>Nextvideo</th>
                <th>?</th>
                <th>Endtext</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sequence in sequences %}
            <tr>
                <td><a href="{{ path('admin_sequences_show', { 'idGame' : game.id, 'id': sequence.id }) }}">{{ sequence.id }}</a></td>
                <td>{{ sequence.videoNumber }}</td>
                <td>{{ sequence.nextVideo }}</td>
                <td>{{ sequence.endText }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_sequences_show', { 'idGame' : game.id, 'id': sequence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_sequences_edit', { 'idGame' : game.id, 'id': sequence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_sequences_new', { 'idGame' : game.id }) }}">Create a new sequence</a>
        </li>
        <li>
            <a href="{{ path('admin_show', { 'id' : game.id }) }}">Retourner au Jeu</a>
        </li>
    </ul>
{% endblock %}
