{% extends 'base.html.twig' %}

{% block body %}


<div class="container theme-showcase" role="main">
    <h1>Création d'une séquence</h1>


  <div class="row">
    {{ form_start(form) }}
    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.videoNumber) }}
            {{ form_label(form.videoNumber, "Numéro de la vidéo", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.videoNumber) }}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.endText) }}
            {{ form_label(form.endText, "Text de fin (instructions)", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.endText) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.text3d) }}
            {{ form_label(form.text3d, "Text 3D (0 ou 1)", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.text3d) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.typeTransition) }}
            {{ form_label(form.typeTransition, "Type de Transition ( 'KEYBOARDMULTI' ou 'KEYBOARDONE' ou 'CHOICENEXT' )", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.typeTransition) }}
            </div>
        </div>
    </div>
    <div class="col-md-12">
      <p>Si le choix de type de Séquence est "KEYBOARDMULTI" ou "KEYBOARDONE"</p>
    </div>
    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.nextVideo) }}
            {{ form_label(form.nextVideo, "Numéro de la vidéo suivante", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.nextVideo) }}
            </div>
        </div>
    </div>
    <div class="col-md-12">
      <p>Si le choix de type de Séquence est "KEYBOARDMULTI"</p>
    </div>

    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.multiNumMin) }}
            {{ form_label(form.multiNumMin, "Numéro minimum de la vidéo", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.multiNumMin) }}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.multiNumMax) }}
            {{ form_label(form.multiNumMax, "Numéro maximum de la vidéo", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.multiNumMax) }}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.nbRepeat) }}
            {{ form_label(form.nbRepeat, "Nombre de répétitions", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.nbRepeat) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
      <p>Si le choix de type de Séquence est "KEYBOARDONE"</p>
    </div>

    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.nextSeq) }}
            {{ form_label(form.nextSeq, "Touche pour faire avancer la vidéo [ format ( keyCode : numVideo ) ]", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.nextSeq) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
      <p>Si le choix de type de Séquence est "KEYBOARDONE" ou "CHOICENEXT"</p>
    </div>

    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.gameOverVideo) }}
            {{ form_label(form.gameOverVideo, "Video de Game Over si mauvais choix", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.gameOverVideo) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
      <p>Si le choix de type de Séquence est "CHOICENEXT"</p>
    </div>
    <div class="col-md-12">
        <div class="form-group">
<div class="col-xs-7">
            {{ form_errors(form.nextSeqArray) }}
            {{ form_label(form.nextSeqArray, "Touche pour choisir les prochaines vidéos [ format ( keyCode1 : numVideo1, keyCode2 : numVideo2, keyCode3 : numVideo3, default : numVideoGameOver  ) ]", {'label_attr': {'class': 'col-xs-12 control-label'}}) }}
            </div>
<div class="col-xs-5">
                {{ form_widget(form.nextSeqArray) }}
            </div>
        </div>
    </div>


        {{ form_widget(form) }}
        <div class="col-md-12">
          <a href="{{ path('admin_sequences_index', {idGame : game.id} ) }}" class="btn btn-default pull-left">Retour</a>
        <input type="submit" class="btn btn-success pull-right"  value="Créer" />
        </div>
    {{ form_end(form) }}
  </div>
  </div>
{% endblock %}
